* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.city-search-container {
    background-color: aquamarine;
}

.weather-container {
    background-color: burlywood;
    display: flex;
    justify-content: space-between;
}

.weather-card {}

.yesterday {
    background-color: orange;
}

.today {
    background-color: greenyellow;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.summary {
    background-color: blueviolet;
}

.details {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tomorrow {
    background-color: aqua;
}